

  <!-- <mat-card class="example-card">

    
    <mat-card-header>
        <span class="spacer"></span>
     
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class ="head">Tool Hive</mat-card-title>
     <mat-toolbar class = "tool">
    <button class="home-btn"  mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  routerLink = "/home">
     <mat-icon>home</mat-icon>
    </button>
       
    </mat-toolbar>
    </mat-card-header> 
    </mat-card> -->
<div class="container">
    <div class = "example-button-row ">
  
      <button class="button"  mat-raised-button color="primary" routerLink = "/customer"><img src = "/assets/customer.png" ></button>
     </div>
  
     <div class = "example-button-row">
    
      <button class="button"  mat-raised-button color="primary" routerLink = "/business" ><img src = "/assets/business unit.png" ></button>
     </div> 
  
  </div>
  