/* .example-button-row{
    margin: auto;
    width: 50%;
    margin-top: 16%;
    margin-left:15%;
}
.button{
    width: 50%;
    height: 200px;
}

.example-button-col{
    margin: auto;
    width:50%;
     margin-top:-16%; 
     margin-right:-10%; 
 
}
  */
  /* .spacer {
    flex: 1 1 auto;
  } */

  .example-card {
    max-width: 1500px;
    height: 80px;
   
  }
  
  .example-header-image {
    background-image: url('/assets/geodis.png');
    background-size:cover ;
    width: 50px;
    height:35px;
    margin:10px; 
}

.head{
color: white;
 height: 50px; 
width: 40px;
font-size: 25px;  
padding-left:48%;

}
.home-btn{
   height:50px;
   width:px;
  
  
}
.tool{
    background-color:black;
    width:50px;

}
