
  <mat-card class="example-card">

    
     <!-- <mat-card-header>  -->
        <!-- <span class="spacer"></span>  -->
     
      <!-- <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class ="head">Tool Hive</mat-card-title>
     <mat-toolbar class = "tool"> -->
      <div class="head">Tool Hive</div>
    <button class="home-btn"  mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  routerLink = "/home">
     <mat-icon>home</mat-icon>
    </button>
       
    <!-- </mat-toolbar>
     < </mat-card-header>    -->
    </mat-card>  

    <router-outlet></router-outlet> 
